footer{
    width: 100%;
    height: 18vh;
    position: relative;
    background-color: var(--second-color);
    bottom: -680px;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    
}

footer .sociales {
    top: 10%;
    left: -10%;
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 28px;

}

footer .sociales a {
    text-decoration: none;
    gap: 50px;
}

footer p{
    text-align: center;
    padding-top: 30px;
    color: var(--light-color);
}

footer .contenedor img{

}

footer span img{
    top: 100%;
    left: 50%;
    display: flex;
    position: relative;
}

footer .contenedor a{
    color: var(--light-color);
}

footer div a{
    width: 10px;
    height: 10px;
}

@media (max-width:480px){
    footer{

        height: 20vh;
        align-self: flex-end;
        width: 100%;
        background-color: var(--second-color);
    }

    footer p{
        text-align: center;
        padding-top: 40px;
        color: var(--light-color);
    }
}