/*---------------BANER---------------*/
main .banner{
    margin-top: 50px;
    position: relative;

}

main .banner img{
    width: 100%;
    height: 100%;
}

main .contenido h1{
    font-size: 80px;
    transform:translateX(-5%) translateY(-30%);
}
main .contenido p{
    font-size: 140%;
    transform:translateX(-5%) translateY(-80%);
}

main .contenido{
    position: absolute;
    top: 60%;
    left: 30%;
    transform:translateX(-50%) translateY(-50%);
    color: var(--light-color);
}



main .banner button{
    display: block;
    width: 120px;
    color: var(--light-color);
    padding: 7px;
    margin-top: 15px;
    border: 2px solid var(--light-color);
    background: none;
    border-radius: 5px;
    font-size: 15px;
    transform:translateX(-25%) translateY(-180%);
}

main .banner button:hover{
    background: rgba(51, 51, 51, 0.5);
}

/*---------------(texto) Support Acme---------------*/

    main .articul span{
        margin-left: 80px;
    }

    main .articul  h2{
        margin-left: 11%;
        padding-top: 10px;
        padding: 5 5px;
        font-size: 180%;
        transform:translateX(-5%) translateY(-5%);
}

    main .articul .argum2{
        width: 40%;
        margin-left: 50%;
        transform:translateX(-15%) translateY(-70%);
        
    }

/*-------------CAJAS-------------------*/

main{
    width: 100vw;
    display: flex;
    display: block;
    padding-top: 10px;
}

main .contenedor{
    width: 100vw;
    height: 505px;
    padding: 0 90px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    border-radius: 3px;
    justify-content: center;
}



main .contenedor div{
    height: 60%;
    width: 60%;
}

main .contenedor h3{
    height: 310px;
    width: 340px;
    margin-top: 3px;
    padding-top: 10px;
    text-align: center;
    color: var(--light-color);
}



main .caja1 h3{
    background-color: var(--second-color);
    border-radius: 10px;

}

main .contenedor .caja1 p{
    width: 130%;
    margin-top: 10%;
    font-size: 110%;
}

main .caja1 span{
    margin-left: 10%;
}

main .caja2 h3{
    background-color: var(--second-color);
    border-radius: 10px;
}

main .contenedor .caja2 p{
    width: 130%;
    margin-top: 10%;
    font-size: 110%;
}


main .caja3 h3{
    background-color: var(--second-color);
    border-radius: 10px;
}

main .contenedor .caja3 p{
    width: 130%;
    margin-top: 10%;
    font-size: 110%;
}



/*------------------SECCION 3-----------------------*/

main .covid19{
    margin-top: 50%;
    position: relative;
}

main .covid19{
    position: absolute;
    top: 200%;
    left: 40%;
    padding-top: 10px;
    transform:translateX(-20px) translateY(-100%);
    color: var(--light-color);
}
main .resume img{
    width: 100%;
    height: 60%;
}

main .covid19 h2{
    font-size: 60px;
}

main .covid19 p{
    font-size: 120%;
}

main .resume button{
    display: block;
    width: 180px;
    color: var(--second-color);
    padding: 8px;
    margin-top: 10px;
    border: 5px solid var(--light-color);
    border-radius: 5px;
    border: 1px solid var(--light-color);
    font-size: 15px;
    color: var(--second-color);
}

main .resume button:hover{
    background: rgba(212, 16, 16, 0.998);
}

main .resume button{
    background: var(--light-color);
}

/*-------------IMG-------------------*/

main .galeria p{
    text-align: center;
    font-size: 13px;
}

main .galeria button{
    width: 100px;
    color: var(--light-color);
    padding: 8px;
    margin-top: 15px;
    background: var(--primary-color);
    border: 3px solid var(--light-color);
    border-radius: 10px;
    color: var(--light-color);
}


main .galeria button:hover{
    background: rgba(4, 3, 3, 0.952);
}


main .galeria button{
    background: var(--primary-color);
}

main .precio{
    justify-content: space-between;
}

/*-------------IMG (part.2)-------------------*/

main .content h2, h4{
    text-align: center;
    margin-top: 30px;
    height: 25px;
    padding: 0 5%;
    font-size: 18px;
}

main .galeria {
    display: flex;
    justify-content: center;
    
    justify-content: space-between;

}


main .content article {
    margin: 15px;
}

main .content img {
    height: 90%;
    width: 80%;
    max-width: 100%;
    border-radius: 10px;
}

main .content p{
    padding: 0 10%;
}




main .boton button{
    display: block;
    width: 180px;
    color: var(--second-color);
    padding: 10px;
    margin-top: 100px;
    border: 3px solid var(--light-color);
    border-radius: 5px;
    border: 1px solid var(--light-color);
    font-size: 15px;
    margin-left: 40%;
    color: var(--light-color);
}

main .boton button:hover{
    background: rgba(216, 15, 15, 0.758);
}

main .boton button{
    background: var(--second-color);
}

/*------------------Dama-----------------------*/

main .ñora{
    width: 100vw;
    height: 90vh;
}

main .shop img{
    height: 60vh;
    transform:translateX(-20%) translateY(120%);
    border-radius: 8px;
    z-index: 40;
}

main .shop p{
    width: 45%;
    height: 80vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    color: var(--light-color);
    font-size: 90%;
    text-align:left;
    left: 38%;
    top: 0%;
    line-height: 1.5;
  
}


main .shop{
    margin-right: 30px;
    margin-left: 15%;
}
main .shop div{
    justify-content: center;
    width: 83%;
    height: 76vh;
    background-color:var(--second-color);
    border-radius: 10px;
    left: 12%;
    top: 5%;
    display: flex;
    position: relative;
    z-index: -1;
}
main .shop h2{
    color: var(--light-color);
    font-size: 44px;
    top: 8%;
    left: 9%;
    position: relative;
}
main .shop b{
    color: var(--light-color);
    position: relative;
    top: 88%;
    left: -18.5%;
    border-radius: 10px;
}





/*-----------------------------------------*/







@media (max-width:480px){
    main .banner img{
        width: 100%;
        height: 120%;
        margin-top: 18%;
    }

    main .contenido h1{
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20%;
    }

    main .contenido h1{
        font-size: 130%;
        transform:translateX(-5%) translateY(-50%);
    }
    main .contenido p{
        font-size: 70%;
        transform:translateX(-5%) translateY(-30%);
    }

    main .banner button{
        display: block;
        width: 120px;
        color: var(--light-color);
        padding: 7px;
        margin-top: 10px;
        border: 2px solid var(--light-color);
        background: none;
        border-radius: 5px;
        font-size: 15px;
        margin-left: 20%;
        transform:translateX(-5%) translateY(-30%);
    }
    
    main .banner button:hover{
        background: rgba(51, 51, 51, 0.5);
    }

    main .contenido p{
        margin-left: 20%;
    }

    main .argum2{
        width: 80%;
        height: 30%;
        margin-left: 20%;
    }

    /*---------------(texto) Support Acme---------------*/

    main .articul span{
        margin-left: 80px;
        font-size: 70%;
    }

    main .articul  h2{
        margin-left: 11%;
        padding-top: 15px;
        padding: 5 5px;
        font-size: 105%;
        transform:translateX(-5%) translateY(-5%);
}

    main .articul .argum2{
        font-size: 70%;
        width: 40%;
        margin-left: 60%;
        transform:translateX(-10%) translateY(-30%);
        
    }


    /*-------------cajas-----------------*/
    main{
        width: 100vw;
        display: flex;
        display: block;
        padding-top: 10px;
    }
    
    main .contenedor{
        width: 100vw;
        height: 505px;
        padding: 0 100px;
        display: flex;
        display: block;
        display: inline-block;
        border-radius: 5px;
        flex-direction: column;
        border-radius: 3px;
        justify-content: center;
    }
    
    
    
    main .contenedor div{
        height: 60%;
        width: 60%;
    }
    
    main .contenedor h3{
        height: 350px;
        width: 350px;
        margin-top: 3px;
        padding-top: 10px;
        text-align: center;
        color: var(--light-color);
    }


    
    
    main .caja1 h3{
        background-color: var(--second-color);
        border-radius: 10px;
    
    }

    main .contenedor .caja1 p{
        width: 150%;
        margin-top: 10%;
        font-size: 90%;
        text-align: center;
        margin-left: 20%;
    }
    
    main .caja2 h3{
        background-color: var(--second-color);
        border-radius: 10px;
    }

    main .contenedor .caja2 p{
        width: 150%;
        margin-top: 10%;
        font-size: 90%;
        text-align: center;
        margin-left: 20%;
    }
    
    
    main .caja3 h3{
        background-color: var(--second-color);
        border-radius: 10px;
    }

    main .contenedor .caja3 p{
        width: 150%;
        margin-top: 10%;
        font-size: 90%;
        text-align: center;
        margin-left: 20%;
    }
    
    
    main .texto1 h3{
        width: 10px;
        height: 20px;
    }

    /*------------------SECCION 3-----------------------*/

    main .covid19{
    margin-top: 50%;
    position: relative;
}

    main .covid19{
    position: absolute;
    top: 200%;
    left: 10%;
    padding-top: 20px;
    margin-top: 240%;
    transform:translateX(-5px) translateY(-360%);
    margin-left: 30%;
    color: var(--light-color);
}
    main .resume img{
    width: 100%;
    height: 60%;
}

    main .covid19 h2{
    font-size: 20px;
}

    main .covid19 p{
    font-size: 15px;
}

    main .resume button{
    display: block;
    width: 180px;
    color: var(--second-color);
    padding: 8px;
    margin-top: 10px;
    border: 5px solid var(--light-color);
    border-radius: 5px;
    border: 1px solid var(--light-color);
    font-size: 15px;
    color: var(--second-color);
}

    main .resume button:hover{
    background: rgba(212, 16, 16, 0.998);
}

    main .resume button{
    background: var(--light-color);
}

    /*-------------IMG (part.2)-------------------*/

    main .content h2, h4{
    text-align: center;
    margin-top: 30px;
    height: 25px;
    padding: 0 5%;
    font-size: 18px;
   

}

    main .content .galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .content article {
    margin: 15px;
}

main .content img {
    height: 70%;
    width: 80%;
    max-width: 100%;
    border-radius: 8px;
    margin-left: 10%;
}

main .content p{
    padding: 0 10%;
}



main .boton button{
    display: block;
    width: 180px;
    color: var(--second-color);
    padding: 8px;
    margin-top: 10px;
    border: 3px solid var(--light-color);
    border-radius: 5px;
    border: 1px solid var(--light-color);
    font-size: 15px;
    margin-left: 30%;
    color: var(--light-color);
}

main .boton button:hover{
    background: rgba(216, 15, 15, 0.758);
}

main .boton button{
    background: var(--second-color);
}

/*------------------Dama-----------------------*/

main .shop img{
    height: 100%;
    width: 20%;
}
main .shop p{
        width: 90%;
        left: 10%;
        justify-content: center;
        border-radius: 10px;
        color: var(--light-color);
        font-size: 12px;
        font-size: 80%;
}
main div.texto h2{
    color: var(--light-color);
    position: relative;
    width: 90vw;
    top: 3%;
    left: 25%;

}
main .shop div{
    position: relative;
    width: 100%;
    left: -5%;

}
div.texto{
    position: relative;
    top: 0%;
    left: -10%;
}



}